body{
    background-color: rgb(255, 230, 0);
}

.container{
    background-color: rgb(244, 240, 26);
    color: rgb(0, 0, 0);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:cursive;
    background-color: rgb(255, 230, 0);
}
.container h1{
    font-size: 3rem;
}
.container h3{
    font-size: 4rem;
    color: rgb(194, 24, 67);
}

#btns{
    display: flex;
    justify-content: space-evenly;
    width: 30vw;

}
button{
    height: 7vh;
    width: 8vw;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px dotted rgb(0, 0, 0);
    font-size: 2rem;
}